.cart-container {
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agregamos una ligera sombra */
  border-radius: 8px; /* Añadimos esquinas redondeadas */
}


.cart-container h2 {
  margin-bottom: 10px;
}

.cart-container p {
  font-size: 16px;
  line-height: 1.6;
}

.cart-image img {
  max-width: 80%;
  height: auto;
}

.cart-title h2 {
  margin-bottom: 20px;
  text-align: center;
}

.cart-content p {
  text-align: justify;
}
