.item-list-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.custom-card-container {
  flex: 1 0 calc(33.33% - 20px);
  margin: 10px;
  margin-bottom: 20px;
}

.custom-card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.custom-card-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

.custom-card-body {
  padding: 20px;
}

.custom-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.custom-card-text {
  font-size: 0.9rem;
}

.custom-card-price {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-card-buttons {
  display: flex;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .custom-card-container {
    flex: 1 0 calc(50% - 20px);
  }
}

@media (max-width: 767.98px) {
  .custom-card-container {
    flex: 1 0 calc(100% - 20px);
  }
}
