.custom-card-container {
  display: flex;
  justify-content: center;
}

.custom-card {
  width: 18rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-right: 40px;
}

.custom-card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.custom-card-body {
  padding: 20px;
}

.custom-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.custom-card-text {
  font-size: 0.9rem;
}

.custom-card-price {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-card-buttons {
  display: flex;
  justify-content: space-between;
}
